body {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: #333;
line-height: 1.6;
margin: 0 auto;
}

*,
*:before,
*:after{
box-sizing: border-box;    
}

/* container*/
.container{
display: block;
width:100%;
max-width: 1140px;
margin: 0 auto;
padding: 0 15px;
}

/* header*/
header{
width: 100%;
position: absolute;
top: 0;
right: 0;
z-index: 1000;
padding: 20px;
}

.header--fixed{
background-color: #4b496c;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000;
transform: translate3d(0,0,0);
box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.header.active{
background-color: #4b496c;
}

.header-inner{
display: flex;
justify-content: space-between;
align-items: center;
}

.header-inner--footer{
display: flex;
justify-content: space-between;
align-items: center;
}


.header-logo{
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 20px;
color:#fff;
}

.header-logo--footer{
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
font-size: 20px;
color:#333;
margin-right: 150px;
}


/* nav */

.nav-link{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: #fff;
text-decoration: none;
padding-right: 30px;
transition: color 0.1s linear; 
}

.nav-link--footer{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: #5a5a5a;
text-decoration: none;
padding-right: 30px;
transition: color 0.1s linear; 
}


.nav-link:hover{
color: #d4d8e4;
}

.nav-link--footer:hover{
color: #000;
}

.phone-nummer{
color: #fff;
}

.nav-border{
position: relative;
padding: 20px;
border: 2px solid #5c5a78;
left: -40px;
display: none;    
}

.nav-togle{
width: 20px; 
position: absolute;
padding: 0 4px;
top: 15px;
right: 10px;
z-index: 1;
display: none;
border: 0;
background:none; 
}

.nav-togle-item:before,
.nav-togle-item:after{
content: "";
width: 100%;
height: 3px;
background-color: #fff;
position: absolute;
left: 0;
z-index: 1;
}

.nav-togle-item:before{
top: -8px;
}

.nav-togle-item:after{
bottom: -8px;
}


.nav-togle-item{
display: block;
width: 100%;
height: 3px;
background-color: #fff;
position: absolute;
top: 9px;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}


/* intro*/
.intro{
width:100%;
height: 100vh;
background: url("../image/block1/background.png") no-repeat center;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
}

.intro-inner{
max-width: 100%;
width: 630px;
margin: 0 auto;
text-align: center;
}

.intro-title{
font-family: 'Montserrat', sans-serif;
line-height: 1.3;
font-size: 50px;
padding-bottom: 30px;
color: #fff;
}

.intro-text{
font-family: 'Lato', sans-serif;
font-size: 16px;
padding: 0 80px;
color: #fff;
}

.intro-btn{
font-family: 'Montserrat', sans-serif;
display: inline-block;
font-size: 14px;
color:#fff;
text-decoration: none;
padding: 15px 40px;
background-color: #1a0c47;
margin-top: 60px;
transition: background-color 0.2s linear;
}

.intro-btn:hover{
background-color: #321590;
}

/*block about us*/
.block-about{
margin-top: 100px;
}

.about-inner{  
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
}

.about-image{
width: 100%;
margin-right: 40px;
}

.about-photo{
display: block;
max-width: 100%;
height: auto;
}



.about-content{
width: 100%;
margin-top: 85px;
}

.about-title{
font-family: 'Montserrat', sans-serif;
color: #333;
font-size: 40px;
}

.about-text{
width: 80%;
color: #333;
font-size: 16px;
font-family: 'Lato', sans-serif;
margin-top: 35px;
}

.about-btn{
font-family: 'Montserrat', sans-serif;
display: inline-block;
font-size: 16px;
color:#fff;
text-decoration: none;
padding: 15px 40px;
background-color: #1a0c47;
margin-top: 65px;
transition: background-color 0.2s linear;
}

.about-btn:hover{
background-color: #321590;
}

/*work*/
.work{
background-color: #f6f6f6;
margin-top:100px;
padding-bottom: 120px;
}

.work-header{
margin: 0 auto;
text-align: center;
}
    
.work-header-title{
padding-top: 85px;
font-size: 40px;
color: #333;
}

.work-header-text{
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #000;
}

.work-item{
display: flex;
justify-content: space-between;
margin-top: 100px;
margin-left: 20px;
margin-right: 20px;
}

.work-content{
width: 48%;
height: 255px;
margin-right: 15px;
}

 .work-reverse{
width: 100%;
height: 255px;
display: flex;
justify-content: space-between;
}

.work-item-background{
display: block;
max-width:100%;
height: 100%;
background-color: #1a0c47;
position: relative;
}

.work-item-background--black{
display: block;
max-width: 100%;
height: 100%;
position: relative;
background-color: #171717;
}

.work-item-icon{
position: absolute;
top: 30%;
left: 42%;
}

.work-item-text{
position: absolute;
top: 65%;
left: 42%;
color: #fff;
font-size: 16px;
text-transform: uppercase;
}

.work-item-text--measure{
position: absolute;
top: 65%;
left: 35%;
color: #fff;
font-size: 16px;
text-transform: uppercase;
}

/*our work*/
.work-title {
text-align: center;
font-size: 40px;
margin-top: 105px;
margin-bottom: 60px;
}

.our-works-photo{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding-bottom: 75px;
}


.work-our-image{
display: block;
max-width:50%;
height: 50%;
margin-bottom: 30px;
}



/*reviev*/
.reviev{
background: url("../image/reviev/Reviews-bg.png") no-repeat center;
background-size: cover;
padding-bottom: 85px;
}

.reviev-title{
font-size: 40px;
color: #fff;
padding-top: 95px;

}

.reviev-content{
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
}

.reviev-item{
width: 30%;
margin-right: 50px;
}

.reviev-icon{
margin-top: 85px;
margin-bottom: 40px
}

.reviev-text{
font-size: 16px;
font-family: 'Lato', sans-serif;
color: #a7a7a7;
margin-top: 35px;
margin-bottom: 40px;
}

.reviev-write{
margin-bottom: 40px;
}

.reviev-name{
font-size: 18px;
margin-bottom: 20px;
color: #fff;
}

.reviev-profecion{
font-family: 'Lato', sans-serif;
font-size: 14px;
color: #a7a7a7; 
}

.slick-dots {
    text-align: center;
    display: flex; 
    justify-content: center; 
    list-style: none;
	padding: 0;
}

.slick-dots button {
    background: #403666; 
    border: none; 
    border-radius: 50%; 
    height: 15px; 
    width: 15px; 
    margin: 5px; 
    outline: none;
	font-size: 0;
	color: inherit;
}

.slick-dots li[class="slick-active"] button {
    background: #fff;
}


/*client*/

.clients{
background-color: #f6f6f6;
padding-bottom: 130px;
}

.client-title{
font-size: 50px;
color: #333;
padding-top: 100px;
margin-bottom: 90px;
text-align: center;
}

.client-content{
display: flex;
justify-content: space-between;
}

.client-content--margin{
display: flex;
justify-content: space-between;
margin-top: 70px;
}

.client-photo{
width: 25%;
height: 110px;
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
margin-right: 20px;
}

.client-image{
display: block;
max-width: 100%;
height: auto;
filter: grayscale(1);
opacity: 0.3;
}

/*contact*/

.contacts{
background:
url(../image/contact/Contacts-bg.png) no-repeat center;
background-size: cover;
padding-top: 80px;
padding-bottom: 90px;
}

.contact-title{
font-size: 50px;
color: #fff;
padding-bottom: 30px;
}

.contact-content{
display: flex;
justify-content: space-between;
}

.contact-mesedge{
width: 48.6%;
background-color: rgba(33, 33, 33, 0.5);
padding: 40px 30px;
}

.mesedge-title{
font-size: 24px;
color: #ffffff;
padding-bottom: 30px;
}

.field{
width: 100%;
border: 1px solid #a7a7a7;
background-color: inherit;
padding:15px 20px; 
font-family: 'Lato', sans-serif;
font-size: 14px;
margin-bottom: 30px;
color: #fff;
}

.field-text{
width: 100%;
border: 1px solid #a7a7a7;
background-color: inherit;
padding:15px 20px; 
font-family: 'Lato', sans-serif;
font-size: 14px;
margin-bottom: 30px;
color: #fff;
}

.mesedge--field{
width: 100%;
border: 1px solid #a7a7a7;
background-color: inherit;
padding:15px 20px; 
font-family: 'Lato', sans-serif;
font-size: 14px;
margin-bottom: 30px;
color: #9e9e9e;
}

.mesedge-btn{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
color: #fff;
padding: 15px 80px;
background-color: #1a0c47;
cursor: pointer;
border: 0;
}

.contact-info{
width: 48.6%;
}

.contact-inform{
width: 100%;
background-color: rgba(33, 33, 33, 0.5);
padding: 40px 30px;
margin-bottom: 30px;
}

.contact-inform-nomargin{
width: 100%;
background-color: rgba(33, 33, 33, 0.5);
padding: 40px 30px;
}

.inform-title{
font-size: 24px;
color: #fff;
padding-bottom: 15px;
}

.inform-text{
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #b0b0b0;
line-height: 2;
}

/*footer*/
.footer{
padding: 50px 0;
background-color: #f6f6f6;
}

.footer-icon {
color: #9e98b0;
margin-right: 10px;
font-size: 16px;
}

.footer-icon--gray{
color: #bdbdbd;
margin-right: 10px;
font-size: 16px;
}

.footer-copiright{
font-family: 'Lato', sans-serif;
font-size: 16px;
color: #171717;
}

/*amedia*/
@media ( max-width:1024px){
    
    .container{
    padding: 0;
    max-width: 920px;
    }
	
	.header.active{
background-color: #4b496c;
}
	
	.nav{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #4b496c;
	width: 100%;
	}
	
	.nav.active{
	display: block;
	}
	
	.nav-footer{
	display: block;
	}

    .nav-link{
    padding: 8px 50px;;
	display: block;
    }
    
    .nav-border{
    display: block;
    left: 0;
    }

    .nav-togle{
    display: block;

    }
    
    .phone-nummer{
    margin-left: 400px;
    }
    
    .about-title{
    font-size: 30px;
    }
    
    .about-text{
    font-size: 14px;
    width: 85%;
    }
    
    .about-btn{
    margin-top: 30px;
    }
    
    .work-item{
    margin: 100px 0 0 0;
    }
    

    .work-header-title{
    font-size: 30px;
    }
    
    .work-header-text{
    font-size: 14px;
    }
    
    .work-content{
    height: 211px;
    width: 50%;
    margin: 15px;    
    }
    
     .work-reverse{
      width: 100%;
       height: 211px;
       display: flex;
        justify-content: space-between;
    }
    
    
    .work-title{
    font-size: 30px;
    }
    .work-our-image{
    width: 48%;
    height: 45%;
    }
    
    .reviev-title{
    display: none;
    }

    .reviev-text{
    font-size: 14px;
    }
    
    .clients{
    padding-bottom: 80px;
    }
    
    .client-title{
    padding-top: 70px;
    margin-bottom: 80px;
    font-size: 30px;
    }
    
    .client-content--margin{
    margin-top: 60px;
    }
    
    .client-photo{
    height: 90px;
    }
    
    .contact-title{
    font-size: 30px;
    }
    
    .mesedge-title{
    font-size: 20px;
    }
    
    .inform-title{
    font-size: 20px;
    }
    
    .inform-text{
    font-size: 14px;
    }
    
    .header-logo--footer{
    margin-right: 50px;
    }
}

@media ( max-width:320px){

	.header--fixed{
	width: 320px;
	}
	
    .header-inner{
    flex-wrap: wrap;
    }
    
    .header-logo{
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    }
    
    .phone-nummer{
    margin: 0;
    }
    
    .header{
    padding: 0 15px;    
    }
	
	.nav-link{
    padding: 8px 122px;
    }
    
    .intro{
    padding: 0 15px;    
    }
    
    
    .intro-title{
    font-size: 30px;
    padding-bottom: 40px;
    }
    
    .intro-text{
    font-size: 14px;
    padding: 0;
    }
    
    .block-about{
    margin: 0;
    }
    
    .about-inner{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    }
    
    .about-image{
    margin: 0;
    display: 
    }
    
    .about-content{
    margin-top: 50px;
    padding: 0 15px;
    text-align: center;
    }
    
    .about-title{
    font-size: 24px;
    }
    
    .about-text{
    width: 100%;
    margin-top: 10px;
    }
    
    .about-btn{
    margin: 50px 0;    
    }
    
    .work{
    margin-top: 0;
    padding: 0 15px 50px 15px;
    }
    
    .work-header-title{
    margin: 0;
    padding-top: 60px;
    font-size: 24px;
    padding: 60px 20px 30px 20px;
    line-height: 1.3;
    }
    
    .work-item{
    margin-top: 50px;
    flex-wrap: wrap;
    }
    
    .work-content{
    height: 133px;
    width: 46%;
    margin: 0;
    }
    
    .work-reverse{
    width: 100%;
    height: 133px;
    display: flex;
    justify-content: space-between;
    flex-wrap:-nowrap;
    flex-direction:row-reverse;
    margin-top: 20px;
    }
    
    .work-item-icon{
    left: 38%;
    }
    
    .work-item-text{
    left: 38%;
    }
    
    .work-item-text--measure{
    left: 23%;
    }
    
    .work-title{
    margin: 60px 0 50px 0;
    }
    
    .our-work-photo{
    padding-bottom: 60px;
    }
   
    .work-our-image{
    max-width: 100%;
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    }
	
	.reviev{
	padding: 0 15px 85px 15px; 
	}
	
	    
    .clients{
    padding: 0 15px;
    }
    
    .client-title{
    margin-bottom: 40px;
    font-size: 24px;
    }
    
    .client-content{
    flex-wrap: wrap;

    }
    
    .client-content--margin{
        flex-wrap: wrap;
       margin-top: 0;
        padding-bottom: 50px;
    }
    
    .client-photo{
    width: 47%;
    margin-bottom: 20px;
    margin-right: 0;
    }
    
    .contacts{
    padding: 0 15px;
    }
    
    .contact-title{
    padding-top: 50px;
    font-size: 24px;
    }
    
    .contact-content{
    flex-wrap: wrap;
    }
    
    .contact-mesedge{
    width: 100%;
    }
    
    .mesedge-title{
    font-size: 16px;
    }
    
    .field{
    margin-bottom: 20px;
    }
    
     .contact-info{
    width: 100%;
    margin-top: 40px;
    }
    
    .inform-title{
    font-size: 16px;
    }
    
    .inform-text{
    font-size: 13px;
    }
    
    .contact-inform-nomargin{
    margin-bottom: 50px;
    }
    
    .footer{
    padding: 40px 15px;
    }
    
    .header-inner--footer{
    justify-content: center;
    flex-wrap: wrap;
    }
    
    .header-logo--footer{
    margin-right: 0;
    font-size: 16px;
    }
    
    .nav-footer{
    display: flex;
    flex-wrap: wrap;
   text-align: center;
    }
    
    .header-logo--footer{
    margin-bottom: 30px;
    }
    
    .nav-link--footer{
    padding: 0;
    width: 290px;
    margin-bottom: 15px;
    line-height: 1.1;
    }
    
    .footer-copiright{
    font-size: 14px;
    text-align: center;
    }
    



















